@model IEnumerable<string>
@{
    ViewBag.Title = "Index";
}

<h1>Customers in Germany</h1>
<ul>
    @if (Model.Any())
    {
        // Display the list of customer names
        foreach (var contactName in Model)
        {
          <li>@contactName</li> 
        }
     }
     else
     {<p>No customers found.</p>}
</ul>
